.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageHeader {
  background-color: #dae7a0a2;
  min-height: 80px;
  width: 100%;
  padding: 10px;
}

.pageHeader h1 {
  float: left;
  margin-right: 50px;
}

.pageHeader ul.nav {
  margin-top: 30px;
}

.pageHeader ul.nav li {
  display: inline;
  padding: 20px;
  font-size: 1.5em;
  color: #000;
}

.pageFooter {
  background-color: #dae7a0a2;
  min-height: 80px;
  width: 100%;
  padding: 10px;
}

.pageFooter h1 {
  float: left;
  margin-right: 50px;
}

.pageFooter ul.nav {
  margin-top: 30px;
}

.pageFooter ul.nav li {
  display: inline;
  padding: 80px;
  font-size: 1.5em;
  color: #000;
}

.searchBox {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.searchBox label, input, button {
  margin: 10px;
}